<!DOCTYPE html>
<!-- saved from url=(0063)http://matveyan.ru/Themes/mycity/02.Default_Light/html/03.html# -->
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{product.name}}</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/Userprofile/A.bootstrap.css.pagespeed.cf.laZJ-JbHjf.css">
  <!--Main styles-->
  <link rel="stylesheet" type="text/css" href="/Userprofile/A.main.css+adaptive.css+pushy.css+font-awesome.css+animate.css,Mcc.7Xi885fzpN.css.pagespeed.cf.D0GJ6jOiSK.css">

  <link rel="stylesheet" type="text/css" href="/Userprofile/A.settings.css.pagespeed.cf.6k-xcbLfXv.css" media="screen">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <script>
    .text {
      color: white;
    }
  </script>


</head>

  <body class="container col s6" style="background-color: skyblue;">
    <div class="container col-sm-8" style="text-align: center; margin-top:50px; margin-left: 20px">
      <div style="float: left;">
      </div>
      <div style="font-size: 200%">
        <div class="text" style="display: inline-block; float: left;"> {{product.name}}</div>
        <br />
        <hr />
        <div style="width: 100%">
            <div style="width: 50%; float: left;">
              <p>${{product.price}}.00</p>
            </div>
            <div style="width: 50%; float: right;">
              <p>{{product.rating}}/5</p>
            </div>
        </div>
      </div>

      <br /><br /><br />

      <div style="font-size: 150%; float: left;">
        <p class="text">Subject: {{product.subject}}</p>
        <p class="text">Course: {{product.course}}</p>
        <p class="text">Description: {{product.description}}</p>
      </div>

      <!-- <br /><br /><br /> -->

      <div>
        <img src="{{product.pdf}}" width="50%"></img>
      </div>
      <br />
      <div  class="form-group">

        <!-- <a id="review_btn" class="btn btn-danger col-sm-12" >Make a Review</a> -->
        <div class="row">
                        <form class="col s12" method="POST" action ="/product/{{product._id}}" style='background-color:white'>
                          <div class="row">
                            <div class="input-field col s12">
                              <textarea id="textarea1" name="reviewtext" class="materialize-textarea" placeholder="Write your review"></textarea>
                            </div>
                          </div>
                          <input type='submit' id='reviewSubmit' class="waves-effect waves-light btn" value="submit" name="Send">
                        </form>
                      </div>
        <a class="btn btn-danger col-sm-12" style="margin-top:10px"> Buy this note</a>
      </div>
      <div id="reviewsession" class="form-group">
        <a class="btn btn-default" href="/marketplace" style="float: left; margin-top:20px">All Products</a>
      </div>
      <br /><br />
      <div style="font-size: 80%; margin-right: 20px;">
              <div class="container contant">
        <div class="row cont">
          <br />
          <!-- Left column-->

          <!--content-->
          <div class="basic vp" style="width: 60%; float: left;">

            <!--visited places-->

            <!--reviews-->
            <div class="reviews">
              <h4>3 Reviews:</h4>

                <!--review-->
                <div class="rev">
                  <div class"user"><a href="/profile/{{this.owner}}" style="height" alt="" data-pagespeed-url-hash="1863441684" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtz-J6qG-FoPBXYt51X5ZzPee1O7E_sgFbYy3a4T2leHQUtJnY" style="height:70px; width:60px" alt="" data-pagespeed-url-hash="1744972516" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                  </div>
                    <div class="texts">
                      <div class="head_rev"><a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/02.html">Royal burger</a> <span>12.09.2008</span></div>
                      <div class="text_rev">Get a history lesson on possibly the world's most famous beverage -- and sample Coca-Cola products from around the globe! Kids will love it...</div>
                    </div>
                  </div>
                  <!--review end-->
                </div>

                <!--morebtn-->
                <a href="http://matveyan.ru/Themes/mycity/02.Default_Light/html/03.html#" class="more_btn">Load more</a>
              </div>
            </div>
          </div>
      </div>
      <br />
      <div class="form-group">

        <a id="review_btn" class="btn btn-danger col-sm-12" >Make a Review</a>
        <a class="btn btn-danger col-sm-12" style="margin-top:10px"> Buy this note</a>
      </div>
      <div id="reviewsession" class="form-group">
        <a class="btn btn-default" href="/marketplace" style="float: left; margin-top:20px">All Products</a>
      </div>

      <br /><br />

      {{#each reviews}}
      <p>{{this.owner}}</p>
      <p>{{this.rating}}</p>
      <p>{{this.content}}</p>
      <hr />
      {{/each}}
    </div>
  </body>
